GIT_WUM_USERNAME=
GIT_WUM_PASSWORD=
WUM_UAT_URL=
WUM_UAT_APPKEY=
WUM_USERNAME=
WUM_PASSWORD=
dockerhub_ballerina_scenarios_password=
dockerhub_ballerina_scenarios_username=
ballerina_integrator_aws_s3_access_key=
ballerina_integrator_aws_s3_secret_key=
github_bot_as_secret_text=
github_bot=
DEPLOYMENT_KEY_FILE_LOCATION=path/to/location/secret
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
