{{#parAxisSummary}}
    <tr>
        <!-- Result -->
        <!-- Result success -->
        {{#isSuccess}}
            <td align="center" class="successText">
                <i class="fas fa-check-circle"></i>
            </td>
        {{/isSuccess}}

        <!-- Result fail -->
        {{^isSuccess}}
            <td align="center" class="errorText">
                <i class="fas fa-times-circle"></i>
            </td>
        {{/isSuccess}}
        <!-- Axis 1 -->
        <td>{{axis1Value}}</td>

        <!-- Axis 2 -->
        <td>{{axis2Value}}</td>
    </tr>
{{/parAxisSummary}}