{{#parsedTestPlanView}}
    <span style="font-family: arial;font-weight: 900; font-size: 30px; line-height: 20px; width: 100%; color: #e46226;">
        {{testPlanName}}
    </span>
    <br/>
    <br/>
    {{{parsedTestScenarioView}}}

{{/parsedTestPlanView}}