<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
  ~ Copyright (c) 2017, WSO2 Inc. (http://wso2.com) All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<html>
<head>
    <title>WSO2 Test Grid - Test Execution Summary</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        @font-face {
            font-family: Arial Unicode MS;
        }
    </style>
</head>
<body>
<center>
    <div style="width: 100%; margin: auto; background-color: #ffffff; ">
        {{#productTestPlanView}}
            <table style="padding: 0 0; width: 100%; background: #ffffff;">
                <tr>
                    <td valign="middle"
                        style="text-align: center; width: 5%; background: #ffffff; text-align: left; padding: 0.5% 7%;">
                        <a href="http://wso2.com/" target="_blank">
                            <img style="height: 30px;"
                                 src="http://b.content.wso2.com/sites/all/wum/wso2-logo-w.png"/></a>
                    </td>
                    <td style="width: 95%; background: #ffffff; text-align: left; padding: 0.5% 7%;font-family: arial; font-size: 16px;">
                        WSO2 Test Grid - Test Execution Summary
                    </td>
                </tr>
                <tr>
                    <td colspan="2"
                        style="padding: 20px 7% 20px 7%; font-family: arial; font-size: 16px; line-height: 24px; color: #676767; border-top: 1px solid #cccccc;">
                        <table style="width: 100%;">
                            <tr>
                                <td valign="middle"
                                    style="text-align: right; width: 12%; padding-right: 50px;">
                                    <img style="height: 150px;"
                                         src="http://www.robertsmania.com/G90/my_testpatterns/1080_Grid_01.jpg"/>
                                </td>
                                <td style=" padding: 1% 5%; font-family: arial; font-size: 16px; line-height: 24px; text-align: left;">
                                    <span style="font-weight: 600; font-size: 34px; width: 100%; margin-bottom: 20px; color: #272727;">Test Execution Summary for</span><br/>
                                    <span style="font-weight: 200; font-size: 30px; width: 100%; margin-bottom: 20px; color: #272727;">{{productName}}
                                        - {{productVersion}}</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <hr/>
            <br/>
            {{{parsedTestPlanView}}}
            <hr style="width: 50%"/>
        {{/productTestPlanView}}
    </div>
</center>
</body>
</html>