{{#parsedReportElements}}
    <tr>
        <!-- Status -->
        <td>
            <center>
                {{#status}}
                    <i class="fas fa-check-circle"></i>
                {{/status}}
                {{^status}}
                    <i class="fas fa-times-circle"></i>
                {{/status}}
            </center>
        </td>

        <!-- Deployment -->
        {{^isGroupByDeployment}}
            <td>{{deployment}}</td>
        {{/isGroupByDeployment}}

        <!-- Infrastructure -->
        {{^isGroupByInfrastructure}}
            <td>{{infraParams}}</td>
        {{/isGroupByInfrastructure}}

        <!-- Scenario -->
        {{^isGroupByScenario}}
            {{#status}}
                <td class="successText">{{scenarioDescription}}</td>
            {{/status}}
            {{^status}}
                <td class="errorText">{{scenarioDescription}}</td>
            {{/status}}
        {{/isGroupByScenario}}

        <!-- Test case -->
        {{#status}}
            <td class="successText">{{testCase}}</td>
        {{/status}}
        {{^status}}
            <td class="errorText">{{testCase}}</td>
        {{/status}}

        <!-- Failure message -->
        {{#status}}
            <td class="successText"></td>
        {{/status}}
        {{^status}}
            <td class="errorText">{{testCaseFailureMessage}}</td>
        {{/status}}
    </tr>
{{/parsedReportElements}}