{{#parsedReportElements}}
    <tr>
        <!-- Status -->
        <td>
            <center>
                {{#isTestSuccess}}
                    <i class="fas fa-check-circle"></i>
                {{/isTestSuccess}}
                {{^isTestSuccess}}
                    <i class="fas fa-times-circle"></i>
                {{/isTestSuccess}}
            </center>
        </td>

        <!-- Deployment -->
        {{^isGroupByDeployment}}
            <td>{{deployment}}</td>
        {{/isGroupByDeployment}}

        <!-- Infrastructure -->
        {{^isGroupByInfrastructure}}
            <td>{{infraParams}}</td>
        {{/isGroupByInfrastructure}}

        <!-- Scenario -->
        {{^isGroupByScenario}}
            {{#isTestSuccess}}
                <td class="successText">{{scenarioDescription}}</td>
            {{/isTestSuccess}}
            {{^isTestSuccess}}
                <td class="errorText">{{scenarioDescription}}</td>
            {{/isTestSuccess}}
        {{/isGroupByScenario}}

        <!-- Test case -->
        {{#isTestSuccess}}
            <td class="successText">{{testCase}}</td>
        {{/isTestSuccess}}
        {{^isTestSuccess}}
            <td class="errorText">{{testCase}}</td>
        {{/isTestSuccess}}

        <!-- Failure message -->
        {{#isTestSuccess}}
            <td class="successText"></td>
        {{/isTestSuccess}}
        {{^isTestSuccess}}
            <td class="errorText">{{testCaseFailureMessage}}</td>
        {{/isTestSuccess}}
    </tr>
{{/parsedReportElements}}