<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
  ~ Copyright (c) 2017, WSO2 Inc. (http://wso2.com) All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<html>
<head>
    <title>WSO2 Test Grid - Test Execution Summary</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <style>
        /*
        Report table style
         */
        table.reportTable {
            font-family: sans-serif;
            border: 0px solid #000000;
            background-color: #FFFFFF;
            width: 90%;
            table-layout: fixed;
            text-align: left;
            border-collapse: collapse;
        }

        table.reportTable td, table.reportTable th {
            border: 1px solid #000000;
            padding: 5px 5px;
        }

        table.reportTable tbody td {
            font-size: 12px;
            word-break: break-word;
        }

        table.reportTable tr:nth-child(even) {
            background: #F6F6F6;
        }

        table.reportTable thead {
            background: #949494;
            border-bottom: 2px solid #000000;
        }

        table.reportTable thead th {
            font-size: 16px;
            font-weight: bold;
            color: #000000;
            background: #949494;
            text-align: center;
        }

        table.reportTable thead th:first-child {
            border-left: none;
        }

        table[class="MainContainer"], td[class="cell"]
        	{
        		width: 100% !important;
        		height:auto !important;
        	}

        table.testcaseInfraSummaryTable {
            table-layout: auto;
        }
        /*
        Titles
         */
        .tableTitle {
            font-family: sans-serif;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            width: 100%;
            color: #e46226;
        }

        .mainTitle {
            font-family: sans-serif;
            font-weight: 900;
            font-size: 30px;
            line-height: 20px;
            width: 100%;
            color: #e46226;
        }

        .testResultSubTitle {
            font-family: sans-serif;
            font-size: 23px;
            line-height: 20px;
            font-weight: bold;
            color: #e46226;
            padding: 5px;
        }

        .consoleLog {
           font-family: monospace;
            font-size: 12px;
        }

        .failure {
            color: black;
            font-weight: bold;
            background: repeating-radial-gradient(circle, #f0f000, #f3cf3d);
        }

        .error {
            background-color: darkred;
        }

        .success {
            background-color: limegreen;
        }

        .red-font {
            color: #cc0000;
        }

    </style>
</head>
<body>
  <table width="700" border="0" cellspacing="0" cellpadding="0" valign='top'>
  <td><img src="http://cdn.wso2.com/wso2/newsletter/images/nl-2017/nl2017-wso2-logo-wb.png" alt="WSO2"></td>
  <td><h1>TestGrid <span style="color: #e46226;"> : Test Execution Results</span></h1></td>
  </table>
  <hr>
    <div style="margin: auto; background-color: #ffffff;">
            <table style="padding: 0 0; width: 100%; background: #ffffff;">
                <tr>
                    <td colspan="2"
                        style="font-family: arial; font-size: 16px; line-height: 24px; color: #676767; border-top: 0px solid #cccccc;">
                        <table>
                            <tr>
                                <td style="font-family: arial; font-size: 16px; line-height: 24px; text-align: center;">
                                    <span class ="mainTitle">{{productName}} test Results!</span><br/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br/>
            <div>{{{gitBuildDetails}}}</div>
            <div>Detailed results: <a href="{{dashboardURL}}">{{jobName}} :: TestGrid Dashboard</a></div>
            <br/><div><strong>Tested Infrastructures:</strong> <br/> <em>{{{testedInfrastructures}}}</em></div><br/>
            {{#renderInfraErrors}}
                <div class="red-font">
                    <strong>Infrastructure Errors:</strong>
                </div>
                {{#infrastructureErrors}}
                <div class="red-font">
                    <em>&nbsp;&nbsp;{{key}}</em> - <a href="{{value}}">Download Log File</a>
                </div>
                {{/infrastructureErrors}}
            {{/renderInfraErrors}}
            <br/>
            <span class="testResultSubTitle" align="center">Test Result Summary</span>
            <p/><p/>
            <table>
                <tr>
                    <td valign="top" style="padding:10px 10px 10px 100px">
                        <img  src="{{summaryChart}}" alt="" border="0" align="left" height="450" width="450"/>
                    </td>
                    <td valign="middle" style="padding:10px 10px 10px 70px">
                      <img  src="{{historyChart}}" alt="" border="0" align="left" height="450" width="550"
                            title="Build failure summary for 7 days. All the builds that ran during 24H time range is considered for the history. For a given infrastructure combination the status of the latest run is considered when deriving the state, if latest build failed it's considered as a failed build for the day."/>
                    </td>
                </tr>
            </table>
            <br/>

        {{#renderTestResultTables}}
        <!-- Start of test-case-vs-infrastructure success/failure summary table. -->
        <span class="testResultSubTitle" align="center">Test cases vs Suspected Infrastructure Culprits (beta)
        </span><p/>
        <div class="consoleLog">
            <span>
                <!-- Inline styles are added to fix email forwarding issue -->
                <table class="reportTable" style="border: 1px solid black; border-collapse:collapse; table-layout: auto;">
                    <thead>
                    <tr style="border: 1px solid black;">
                        <th width="40%" style="border: 1px solid black;">Test case</th>
                        <th style="border: 1px solid black;">Suspected Infrastructure Culprits</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#testCaseInfraSummaryTable}}
                        <tr style="border: 1px solid black;">
                            <td style="border: 1px solid black;">{{key}}</td>
                            {{#value}}
                                <td style="border: 1px solid black;">
                                <table style="border: 1px solid black;">
                                <tr style="border: 1px solid black;">
                                    {{#failedInfra}}
                                        {{#.}}
                                            <td style="font-weight: bold; background: repeating-radial-gradient(circle, #f0f000, #f3cf3d); border: 1px solid black;">
                                                {{.}}
                                            </td>
                                        {{/.}}
                                    {{/failedInfra}}
                                    {{^failedInfra}}
                                        {{#.}}
                                            <td style="font-weight: bold; background: repeating-radial-gradient(circle, #f0f000, #f3cf3d); border: 1px solid black;">
                                                Failed on all infrastructure combinations
                                            </td>
                                        {{/.}}
                                    {{/failedInfra}}
                                </tr>
                                </table>
                                <!--</td>-->
                                <!--<td>-->
                                    <!--<table>-->
                                    <!--<tr>-->
                                        <!--{{#successInfra}}-->
                                            <!--<td class="success">-->
                                                <!--{{.}}-->
                                            <!--</td>-->
                                        <!--{{/successInfra}}-->
                                    <!--</tr>-->
                                    <!--</table>-->
                                <!--</td>-->
                            {{/value}}
                        </tr>
                    {{/testCaseInfraSummaryTable}}
                    {{^testCaseInfraSummaryTable}}
                        <tr style="border: 1px solid black;"><td style="border: 1px solid black;">no information available.</td></tr>
                    {{/testCaseInfraSummaryTable}}
                    </tbody>
                </table>
                </span>
        </div>
        <br/>

            <span class="testResultSubTitle">Testcase Failure Summary Table</span>
            <p/><p/>
          <table class="reportTable" style="border: 1px solid black; border-collapse:collapse;">
          <thead>
           <tr style="border: 1px solid black;">
              <th width="25%" style="border: 1px solid black;">Failed Test Case</th>
              <th width="45%" style="border: 1px solid black;">Failure Message</th>
              <th style="border: 1px solid black;">OS</th>
              <th style="border: 1px solid black;">JDK</th>
              <th style="border: 1px solid black;">DB</th>
           </tr>
           <thead>
           <tbody>
              {{#perTestCase}}
              <tr bgcolor="{{rowColor}}" style="border: 1px solid black;">
                 <td rowspan="{{rowSpan}}" style="border: 1px solid black;">{{testCaseName}}</td>
                 <td rowspan="{{rowSpan}}" style="border: 1px solid black;">{{testCaseDescription}}</td>
                 <td style="border: 1px solid black;">{{testCaseExecutedOS}}</td>
                 <td style="border: 1px solid black;">{{testCaseExecutedJDK}}</td>
                 <td style="border: 1px solid black;">{{testCaseExecutedDB}}</td>
              </tr>
              {{#infraCombinations}}
              <tr bgcolor="{{rowColor}}" style="border: 1px solid black;">
                 <td style="border: 1px solid black;">{{os}}</td>
                 <td style="border: 1px solid black;">{{jdk}}</td>
                 <td style="border: 1px solid black;">{{dbEngine}}</td>
              </tr>
              {{/infraCombinations}}
            {{/perTestCase}}
           </tbody>
        </table>
        {{/renderTestResultTables}}
        <em>Tested by WSO2 TestGrid.</em>
    </div>
</body>
</html>
