{{#parsedTestResultsView}}
    <td style="font-weight: 300; font-size: 16px; line-height: 20px; padding-top: 15px; padding-left: 15px; padding-bottom: 5px; border-bottom: 1px solid #cccccc;">
        <span style="color: #e46226;">{{testName}}</span>
    </td>
    <td style="font-weight: 300; font-size: 16px; line-height: 20px; padding-top: 15px; padding-bottom: 5px; padding-left: 15px; border-bottom: 1px solid #cccccc;">
        <center>
            <span style="color: #000000;">{{startTimestamp}}</span>
        </center>
    </td>
    <td style="font-weight: 300; font-size: 16px; line-height: 20px; padding-top: 15px; padding-bottom: 5px; padding-left: 15px; border-bottom: 1px solid #cccccc;">
        <center>
            <span style="color: #000000;">{{modifiedTimestamp}}</span>
        </center>
    </td>
    <td style="font-weight: 300; font-size: 16px; line-height: 20px; padding-top: 15px; padding-bottom: 5px; padding-left: 15px; border-bottom: 1px solid #cccccc;">
        <center>
            <span style="color: #000000;">{{status}}</span>
        </center>
    </td>
    <td style="font-weight: 300; font-size: 16px; line-height: 20px; padding-top: 15px; padding-bottom: 5px; border-bottom: 1px solid #cccccc;">
        <span style="color: #ff0000;">{{failureMessage}}</span>
    </td>
    <td style="font-weight: 300; font-size: 16px; line-height: 20px; padding-top: 15px; padding-bottom: 5px; border-bottom: 1px solid #cccccc;">
        <span style="color: #000000;">{{logLocation}}</span>
    </td>
    </tr>
{{/parsedTestResultsView}}