{{#parsedTestPlanView}}
    <table style="width: 100%">
        <tr>
            <td>
                <center>
                    <span style="font-family: arial;font-weight: 900; font-size: 30px; line-height: 20px; width: 100%; color: #e46226;">
                        {{testPlanName}}
                    </span>
                    <table style="width: 85%">
                        <tr>
                            <td style="width: 20%;background: #cccccc; padding-top: 15px; padding-left: 15px; padding-bottom: 5px;">
                                <span style="font-family: arial;font-weight: 600; font-size: 20px; line-height: 20px; color: #000000;">
                                    Description
                                </span>
                            </td>
                            <td style="width: 80%;padding-top: 15px; padding-left: 15px; padding-bottom: 5px; border-bottom: 1px solid #cccccc;">
                                <span style="font-family: arial;font-weight: 300; font-size: 20px; line-height: 20px; color: #000000;">
                                    {{description}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;background: #cccccc; padding-top: 15px; padding-left: 15px; padding-bottom: 5px;">
                                <span style="font-family: arial;font-weight: 600; font-size: 20px; line-height: 20px; color: #000000;">
                                    Test Plan Status
                                </span>
                            </td>
                            <td style="width: 80%;padding-top: 15px; padding-left: 15px; padding-bottom: 5px; border-bottom: 1px solid #cccccc;">
                                {{#isTestPlanDeploymentPreparation}}
                                    <span style="font-family: arial;font-weight: 300; font-size: 20px; line-height: 20px; color: #ffff4d;">
                                        {{status}}
                                    </span>
                                {{/isTestPlanDeploymentPreparation}}
                                {{#isTestPlanDeploymentError}}
                                    <span style="font-family: arial;font-weight: 300; font-size: 20px; line-height: 20px; color: #ff8080;">
                                        {{status}}
                                    </span>
                                {{/isTestPlanDeploymentError}}
                                {{#isTestPlanDeploymentReady}}
                                    <span style="font-family: arial;font-weight: 300; font-size: 20px; line-height: 20px; color: #99cc00;">
                                        {{status}}
                                    </span>
                                {{/isTestPlanDeploymentReady}}
                                {{#isTestPlanPending}}
                                    <span style="font-family: arial;font-weight: 300; font-size: 20px; line-height: 20px; color: #ffc300;">
                                        {{status}}
                                    </span>
                                {{/isTestPlanPending}}
                                {{#isTestPlanError}}
                                    <span style="font-family: arial;font-weight: 300; font-size: 20px; line-height: 20px; color: #ff0000;">
                                        {{status}}
                                    </span>
                                {{/isTestPlanError}}
                                {{#isTestPlanCompleted}}
                                    <span style="font-family: arial;font-weight: 300; font-size: 20px; line-height: 20px; color: #09950B;">
                                        {{status}}
                                    </span>
                                {{/isTestPlanCompleted}}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;background: #cccccc; padding-top: 15px; padding-left: 15px; padding-bottom: 5px;">
                                <span style="font-family: arial;font-weight: 600; font-size: 20px; line-height: 20px; color: #000000;">
                                    Deployment Pattern
                                </span>
                            </td>
                            <td style="width: 80%;padding-top: 15px; padding-left: 15px; padding-bottom: 5px; border-bottom: 1px solid #cccccc;">
                                <span style="font-family: arial;font-weight: 300; font-size: 20px; line-height: 20px; color: #000000;">
                                    {{deploymentPattern}}
                                </span>
                            </td>
                        </tr>
                        <!-- Infra information -->
                        <tr>
                            <td style="width: 20%;background: #cccccc; padding-top: 15px; padding-left: 15px; padding-bottom: 5px;">
                                <span style="font-family: arial;font-weight: 600; font-size: 20px; line-height: 20px; color: #000000;">
                                    Infra Status
                                </span>
                            </td>
                            <td style="width: 80%;padding-top: 15px; padding-left: 15px; padding-bottom: 5px; border-bottom: 1px solid #cccccc;">
                                {{#isInfraError}}
                                    <span style="font-family: arial;font-weight: 300; font-size: 20px; line-height: 20px; color: #ff0000;">{{infraStatus}}</span>
                                {{/isInfraError}}
                                {{#isInfraReady}}
                                    <span style="font-family: arial;font-weight: 300; font-size: 20px; line-height: 20px; color: #09950B;">{{infraStatus}}</span>
                                {{/isInfraReady}}
                                {{#isInfraPreparation}}
                                    <span style="font-family: arial;font-weight: 300; font-size: 20px; line-height: 20px; color: #ffc300;">{{infraStatus}}</span>
                                {{/isInfraPreparation}}
                                {{#isInfraDestroyError}}
                                    <span style="font-family: arial;font-weight: 300; font-size: 20px; line-height: 20px; color: #ff8080;">{{infraStatus}}</span>
                                {{/isInfraDestroyError}}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;background: #cccccc; padding-top: 15px; padding-left: 15px; padding-bottom: 5px;">
                                <span style="font-family: arial;font-weight: 600; font-size: 20px; line-height: 20px; color: #000000;">
                                    JDK
                                </span>
                            </td>
                            <td style="width: 80%;padding-top: 15px; padding-left: 15px; padding-bottom: 5px; border-bottom: 1px solid #cccccc;">
                                <span style="font-family: arial;font-weight: 300; font-size: 20px; line-height: 20px; color: #000000;">
                                    {{jdk}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;background: #cccccc; padding-top: 15px; padding-left: 15px; padding-bottom: 5px;">
                                <span style="font-family: arial;font-weight: 600; font-size: 20px; line-height: 20px; color: #000000;">
                                    Operating System
                                </span>
                            </td>
                            <td style="width: 80%;padding-top: 15px; padding-left: 15px; padding-bottom: 5px; border-bottom: 1px solid #cccccc;">
                                <span style="font-family: arial;font-weight: 300; font-size: 20px; line-height: 20px; color: #000000;">
                                    {{operatingSystem}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;background: #cccccc; padding-top: 15px; padding-left: 15px; padding-bottom: 5px;">
                                <span style="font-family: arial;font-weight: 600; font-size: 20px; line-height: 20px; color: #000000;">
                                    Database
                                </span>
                            </td>
                            <td style="width: 80%;padding-top: 15px; padding-left: 15px; padding-bottom: 5px; border-bottom: 1px solid #cccccc;">
                                <span style="font-family: arial;font-weight: 300; font-size: 20px; line-height: 20px; color: #000000;">
                                    {{database}}
                                </span>
                            </td>
                        </tr>
                    </table>
                    <br/>
                    <br/>
                    {{{parsedTestScenarioView}}}
                </center>
            </td>
        </tr>
    </table>
{{/parsedTestPlanView}}