.chart {
    -fx-padding: 10px;
}

.chart-title {
    -fx-font-size: 20px;
    -fx-padding: 0;
    font-weight: bold;
}

.chart-legend {
    -fx-font-size: 13px;
    -fx-padding: 10px;
}

.chart-content {
    -fx-padding: 10px;
}

.chart-pie-label-line {
    -fx-stroke: #8b4513;
    -fx-fill: #8b4513;
}

.chart-pie-label {
    -fx-fill: #8b4513;
    -fx-font-size: 10px;
}
.chart-legend {
    -fx-background-color:  #fafad2;
    -fx-stroke: #daa520;
    -fx-font-size: 13px;
}