.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.title {
  font-size: 1.5em;
  color: inherit;
  text-decoration:none;
  cursor: inherit;
}

a.title:hover, a.title:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.App-intro {
  font-size: large;
}

.rowStyle {
  display: flex;
  flex-direction: row;
  max-width: 30px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
