body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.deployment-pattern-name {
	border: 1px solid rgb(224, 224, 224);
}
.view-history {
	width: 100%;
	height: 100%;
	margin: 0;
	padding-bottom: 0; 
}

.infra-param, .infra-param-header p {
	float: left;
    width: 30%;
    height: 100%;
    text-align: left;
	padding: 0 0 0 10px;
    margin: 0;
}

.infra-param-header p {
	font-weight: bold;
}

.infra-param {
    font-size: 16px;
}

.deployment-pattern-view thead tr {
	border-bottom: 0;
}

.table td, .table th {
	vertical-align: middle;
}
